/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { background-color: black;background-image: url(https://i.pinimg.com/originals/d7/a6/11/d7a61190a836bdcfc62bf97af4f4c74b.png); font-family: Roboto, "Helvetica Neue", sans-serif; }
