<app-header></app-header>
<div class="navigate">
  <mat-button-toggle-group name="paginacionActores" aria-label="Paginación de actores" class="pagination">
      <mat-button-toggle  (click)="getActorsPage(page-1)">&#60;</mat-button-toggle>
      <mat-button-toggle *ngIf="page == 0" (click)="getActorsPage(page-1)">{{page-1}}</mat-button-toggle>
      <mat-button-toggle style="background-color: rgb(95, 170, 255); border-radius: 5px;"  (click)="getActorsPage(page)">{{page}}</mat-button-toggle>
      <mat-button-toggle  (click)="getActorsPage(page+1)">{{page+1}}</mat-button-toggle>
      <mat-button-toggle  (click)="getActorsPage(page+1)">{{page+2}}</mat-button-toggle>
      <mat-button-toggle  (click)="getActorsPage(page+1)">{{page+3}}</mat-button-toggle>
      <mat-button-toggle  (click)="getActorsPage(page+1)">&#62;</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<app-actor-card class="tarjeta" [actor]="actor" *ngFor="let actor of listaActores">
</app-actor-card>
