<app-header></app-header>
<div class="navigate">
  <mat-button-toggle-group name="paginacionActores" aria-label="Paginación de actores" class="pagination">
      <mat-button-toggle  (click)="getActorsPage(page-1)">&#60;</mat-button-toggle>
      <mat-button-toggle *ngFor="let pagina of contadorPaginas(); let i = index" (click)="getActorsPage(i+1)">{{i+1}}</mat-button-toggle>
      <mat-button-toggle  (click)="getActorsPage(page+1)">&#62;</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<app-actor-card class="tarjeta" [actor]="actor" *ngFor="let actor of listaActores">
</app-actor-card>