<mat-card class="example-card">
  <mat-card-header>
  <mat-card-subtitle class="nombreActor" style="font-weight: bold;">{{actor.name}}</mat-card-subtitle>
  </mat-card-header>
  <img [src]="getActorPhoto(actor)"
    onerror="this.src='https://images.hive.blog/p/YpihifdXP4WNbGMdjw7e3DuhJWBvCw4SfuLZsrnJYHEpsqZFkiGGNCQDjARFNbziVgPQ8u8C8ZxBkWry1BGDcMPZKLV38JyYuGuLoZzVxW1ykgqw44hzmou5gb6WTjZebNjYRp6wFfpp9cPa2vLwcnV4pqqJ78K3PoNyRRUMwtp6?format=match&mode=fit'"
    alt={{actor.name}}>
  <mat-card-content class="texto"><span *ngFor="let peli of pelisActor">{{peli}}  ,</span>
 </mat-card-content>
  <mat-card-actions>
    <button mat-button style="background-color: rgb(255, 92, 92) ;" (click)="openDialog()">MORE INFO</button>
  </mat-card-actions>
</mat-card>
