<mat-card class="example-card">
  <img [src]="getActorPhoto(actor)" onerror="this.src='https://images.hive.blog/p/YpihifdXP4WNbGMdjw7e3DuhJWBvCw4SfuLZsrnJYHEpsqZFkiGGNCQDjARFNbziVgPQ8u8C8ZxBkWry1BGDcMPZKLV38JyYuGuLoZzVxW1ykgqw44hzmou5gb6WTjZebNjYRp6wFfpp9cPa2vLwcnV4pqqJ78K3PoNyRRUMwtp6?format=match&mode=fit'"
  alt={{actor.name}}>    <mat-card-content>
      <p class="texto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis impedit quo repellendus consequuntur, odit, hic, necessitatibus debitis eius sunt doloribus possimus excepturi eveniet sit illo numquam velit optio unde illum.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>MORE INFO</button>
    </mat-card-actions>
  </mat-card>

  <!-- <div *ngFor="let actor of listaActores" style="float: left; margin: 20px;">
    <p>{{actor.name}}    {{actor.id}}</p>
    <img [src]="getActorPhoto(actor)" onerror="this.src='https://images.hive.blog/p/YpihifdXP4WNbGMdjw7e3DuhJWBvCw4SfuLZsrnJYHEpsqZFkiGGNCQDjARFNbziVgPQ8u8C8ZxBkWry1BGDcMPZKLV38JyYuGuLoZzVxW1ykgqw44hzmou5gb6WTjZebNjYRp6wFfpp9cPa2vLwcnV4pqqJ78K3PoNyRRUMwtp6?format=match&mode=fit'"
     alt={{actor.name}}>
    </div> -->