<app-header class="header"></app-header>
<div class="main">
  <mat-grid-list cols="3" rowHeight="1.5:1" [gutterSize]="'25px'">
    <mat-grid-tile class="tarjeta"
      ><a routerLink="/characters"><div class="foto">
          <img
            src="https://media.istockphoto.com/photos/star-wars-comic-con-cos-players-picture-id931454484?k=20&m=931454484&s=612x612&w=0&h=9QMtx-n3QcP9AEHV8XGkiEer5YKQJ678NxewfB_Jmqo="
            onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'" alt="Personajes de StarWars"
          />
          <span class="category">Characters</span>
        </div>
      </a></mat-grid-tile
    >
    <mat-grid-tile class="tarjeta"
      ><a routerLink="/starships"
        ><div class="foto">
          <img
            src="https://cdn.pixabay.com/photo/2016/08/29/01/56/millenium-falcon-1627322_960_720.jpg"
            onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'"
            alt=""
          />
          <span class="category">StarShips</span>
        </div>
      </a></mat-grid-tile
    >
    <mat-grid-tile class="tarjeta"
      ><a routerLink="/films"
        ><div class="foto">
          <img
            src="https://starwars-visualguide.com/assets/img/categories/films.jpg"
            onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'"
            alt=""
          />
          <span class="category">FILMS</span>
        </div>
      </a></mat-grid-tile
    >
    <mat-grid-tile class="tarjeta"
      ><a routerLink="/planets"
        ><div class="foto">
          <img
            src="https://media.istockphoto.com/photos/space-exploration-and-planetary-colonization-picture-id501940544?k=20&m=501940544&s=612x612&w=0&h=YXiNAtSZZiMv5Bo_b3Bet9A5O0w0qfLfjzbJJ3WbmMA="
            onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'"
            alt=""
          />
          <span class="category">Planets</span>
        </div>
      </a></mat-grid-tile
    >
    <mat-grid-tile class="tarjeta"
      ><a routerLink="/vehicles"
        ><div class="foto">
          <img
            src="https://www.heyuguys.com/images/2014/04/ATAT.jpg"
            onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'"
            alt=""
          />
          <span class="category">Vehicles</span>
        </div>
      </a>
    </mat-grid-tile
    >
    <mat-grid-tile class="tarjeta"
      ><a routerLink="/species"
        ><div class="foto">
          <img
            src="https://www.tonica.la/__export/1608834317696/sites/debate/img/2020/12/24/chewbacca-star-wars-legends.jpg_423682103.jpg"
            onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'"
            alt=""
          />
          <span class="category">Species</span>
        </div>
      </a></mat-grid-tile
    >
  </mat-grid-list>
</div>
<div class="footer"></div>
