<app-header></app-header>
<div class="mainContainer">
  <div class="navigate">
    <div>
    <a routerLink="/landing" routerLinkActive="active" class = "inicio"><span>Inicio</span></a><span class = "personajes"> / Starships</span>
    </div>
    <mat-button-toggle-group name="paginacionPersonajes" aria-label="Paginación de personajes" class="pagination">
        <mat-button-toggle [disabled]="page == 1" (click)="getStarShipPage(page-1)">&#60;</mat-button-toggle>
        <mat-button-toggle [checked]="page == i+1" *ngFor="let pagina of contadorPaginas(); let i = index" (click)="getStarShipPage(i+1)">{{i+1}}</mat-button-toggle>
        <mat-button-toggle [disabled]="page == 4" (click)="getStarShipPage(page+1)">&#62;</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="container">
    <mat-card class="tarjeta" *ngFor="let starShip of listadoStarShips">
      <img mat-card-image style="width: 400px; height: 250px" [src]="getPhotoURL(starShip)"
        onerror="this.src='https://starwars-visualguide.com/assets/img/placeholder.jpg'" alt="{{ starShip.name }}" />
      <mat-card-content>{{starShip.name}}</mat-card-content>
      <mat-card-footer><button mat-raised-button color="warn" class="info" routerLink="/starShip-details/{{idStarship}}" routerLinkActive="active">+INFO</button></mat-card-footer>
    </mat-card>
  </div>
</div>
